/* /Users/macPRO/Bootstrap-Portfolio/assets/css/style.css */
.wallpaper{
background-image:url("../images/round.png");
}
.about{
background-color:white; 
float:left; 
margin:10px;
padding:20px;
}
.connect{
background-color:white; 
float:left; 
margin:10px;
}